@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

a, button {
  transition: all 300ms ease;
}

body {
  font-family: Poppins, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: black;
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid gray;
}

.name {
  font-size: 34px;
  text-align: center;
  cursor: pointer;
}

@media (max-width:480px) {
  .name {
    font-size: 28px;
  }
  
}

.name-link:hover {
  text-decoration: none;
}

.links {
  display: flex;
  gap: 16px;
}

.link-item {
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  display: none;
  position: relative;
  cursor: pointer;
}

@media (max-width:650px) {
  .name {
    margin-right: 1px;
  }
  .links {
    display: none;
  }
  .menu {
    display: contents;
  }
}

.main-item {
  width: 35px;
  height: 35px;
}

.sub-menu {
  position: absolute;
  top: 70px;
  right: 20px;

  display: none;
  flex-direction: column;
  width: 120px;
  background-color: gray;
  border-radius: 20px;
}

.item {
  color: white;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.item:hover {
  background-color: white;
  color: gray;
}

.parent:hover > .sub-menu {
  display: flex;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  margin-top: 200px;
  flex-wrap: wrap;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  height: 300px;
  border-radius: 50%;
  border: 3px solid black;
}

.profile-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  line-height: 10px;
}

.line-1 {
  font-size: 20px;
}

.line-2 {
  font-size: 34px;
  text-wrap: nowrap;
}

@media (max-width: 320px) {
  .line-1 {
    font-size: 14px;
  }

  .line-2 {
    font-size: 18px;
  }

  .overview-button {
    font-size: 12px;
    padding: 8px 10px;
  }
}

@media (max-width:600px) {
  .line-2 {
    font-size: 18px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.overview-button {
  font-size: 14px;
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 10px 14px;
  border-radius: 30px;
  font-weight: 700;
}

.overview-link:hover {
  text-decoration: none;
  color: white;
}

.overview-button:hover {
  color: white;
  background-color: gray;
}

.heading {
  font-size: 24px;
  margin-top: 280px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 8px;
  text-wrap: nowrap;
}

@media (max-width: 400px) {
  .heading {
    font-size: 20px;
  }
}

#about,#skills,#projects,#contact {
  padding-top: 5px;
}

.about-education {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  border: 2px solid gray;
  border-radius: 30px;
  padding: 20px;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 50px;
}

.about-description {
  flex: 2;
}

@media (max-width: 850px) {
  .about-container {
    flex-direction: column;
    gap: 25px;
  }
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.container {
  border: 2px solid gray;
  border-radius: 32px;
  padding: 24px;
  flex: 1;
  text-align: center;
}

.line {
  background-color: gray;
  height: 2px;
  width: auto;
}

.icon {
  height: 24px;
}

#contact {
  margin-bottom: 200px;
}
